*.log
*.aux
*.out
.DS_Store
PDF/*/*.pdf
PDF/*/EOG*.composer
PDF/*/EOG*.hymnnumber
PDF/*/EOG*.meter
PDF/*/EOG*.midi
PDF/*/EOG*.pdf
PDF/*/EOG*.poet
PDF/*/EOG*.title
PDF/*/EOG*.tunename
MIDI/*/*.midi
MP3/*/*.mp3
WAV/*/*.wav
TXT/*/*.txt
words.dump
.*.sw?
index.html
*.vim
*.zip
scripts/kulpstuff.js
deps/
*.m3u
texels/
metrics/
booklayout/*_insert.tex
booklayout/book.tex
booklayout/revision.tex
booklayout/book.pdf
booklayout/cover-standard-paperback.pdf
booklayout/cover-casewrap.pdf
booklayout/cover-coilbound.pdf
booklayout/toplevel.pdf
booklayout/index.meter
booklayout/leather-green-tiled.jpg
booklayout/leather-green-50.jpg
variants/*/*/override/override-EOG*.ily
booklayout/ebook.pdf
booklayout/ebook_index.tex
