*.log
*.aux
*.out
.DS_Store
PDF/*/*.pdf
MIDI/*/*.midi
MP3/*/*.mp3
WAV/*/*.wav
TXT/*/*.txt
words.dump
.*.sw?
index.html
*.vim
*.zip
scripts/kulpstuff.js
deps/
headers/
*.m3u
texels/
metrics/
booklayout/*_insert.tex
booklayout/book.tex
booklayout/revision.tex
booklayout/book.pdf
booklayout/cover.pdf
booklayout/toplevel.pdf
booklayout/index.meter
